<div id="home-head">
    <div
        id="home-background"
        data-images="<%- theme.background.map(url_for) %>"
    ></div>
    <div id="home-info">
        <span class="loop"></span>
        <span class="loop"></span>
        <span class="loop"></span>
        <span class="loop"></span>
        <span class="info">
            <div class="wrap">
                <h1><%= config.title %></h1>
                <h2><%= config.subtitle %></h2>
                <h3><%= config.description %></h3>
            </div>
        </span>
    </div>
</div>
<div
    id="home-posts-wrap"
    <%- theme.card.enable ? '' : 'class="home-posts-wrap-no-card"' %>
>
    <div id="home-posts">
        <%- partial("posts") %>
        <%- partial("current") %>
    </div>
    <% if (theme.card.enable) { %>
    <div id="home-card">
        <%- partial("card") %>
    </div>
    <% } %>
</div>
