<div id="menu">
    <nav id="desktop-menu">
        <a class="title" href="<%- config.root %>">
            <span><%= config.title.toUpperCase() %></span>
        </a>
        <% Object.entries(theme.menu).forEach(([key, value]) => { %>
        <a href="<%- url_for(value.link) %>">
            <i class="fa-<%- value.theme %> fa-<%- value.name %> fa-fw" aria-hidden="true"></i>
            <span>&ensp;<%= key %></span>
        </a>
        <% }); %>
        <a id="theme-button" class="theme-button" style="cursor: pointer;">
            <i class="fa-solid fa-adjust fa-fw" aria-hidden="true"></i>
            <span>&ensp;Theme</span>
        </a>
    </nav>
    <nav id="mobile-menu">
        <button class="title" id="toggle-menu" aria-label="Toggle Menu">
            <i class="fa-solid fa-bars fa-fw" aria-hidden="true"></i>
            <span>&emsp;<%= config.title.toUpperCase() %></span>
        </button>
        <div class="items slide-transition slide-hidden" id="mobile-menu-items">
            <% Object.entries(theme.menu).forEach(([key, value]) => { %>
            <a href="<%- url_for(value.link) %>">
                <div class="item">
                    <div class="item-icon">
                        <i class="fa-<%- value.theme %> fa-<%- value.name %> fa-fw" aria-hidden="true"></i>
                    </div>
                    <div class="item-label"><%= key %></div>
                </div>
            </a>
            <% }); %>
            <a id="theme-button-mobile" class="theme-button" style="cursor: pointer;">
                <div class="item">
                    <div class="item-icon">
                        <i class="fa-solid fa-adjust fa-fw" aria-hidden="true"></i>
                    </div>
                    <div class="item-label">Theme</div>
                </div>
            </a>
        </div>
    </nav>
</div>
<div id="menu-curtain" class="fade-transition fade-hidden"></div>
